<div fxLayout fxLayoutAlign="space-between center" style="padding: 20px;">
    <div style="font-size: 40px; font-weight: bold; color: rgb(99, 98, 98);">
        <mat-icon>developer_board</mat-icon> Instances
    </div>
    <mat-form-field fxFlex="40%">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter records based on name, status, date" #input>
    </mat-form-field>
    <div class="example-button-container">
        <button mat-flat-button color="primary" matTooltip="Create a new instance" (click)="openCreateInstanceDialog()">
            New instance
        </button>
    </div>
</div>

<div style="padding: 20px;">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status.id}} </td>
        </ng-container>

        <ng-container matColumnDef="created-at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created at </th>
            <td mat-cell *matCellDef="let element"> 
                {{getDateFormat(element.createdAt)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="logs">
            <th mat-header-cell *matHeaderCellDef> Logs </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" matTooltip="View instance logs" (click)="redirectToLogsPage(element)">
                    <mat-icon class="mat-18">timeline</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Use </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" matTooltip="Use this instance" [disabled]='element.status.id == "INUSE" ? true : false' (click)="openUseInstanceDialog(element)">
                    <mat-icon class="mat-18">layers</mat-icon>                    
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" matTooltip="Delete this instance" [disabled]='element.status.id == "INUSE" ? true : false' (click)="deleteInstance(element)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator style="position: sticky" [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>