<div fxLayout fxLayoutAlign="space-around center">
    <form (ngSubmit)="getLogs()">
        Enter max possible past usage value(in mins):
        <mat-form-field fxFlex="60%">
            <mat-label>Max time</mat-label>
            <input matInput type="number" [formControl]="logsControl" required>
            <button mat-icon-button matSuffix >
                <mat-icon>timelapse</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button type="submit" color="primary" [disabled]="!logsControl.valid">
            Get logs
        </button>
    </form>

    <mat-form-field fxFlex="40%">
        <mat-label>Filter table</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter records based on reason, user, date, time" #input>
    </mat-form-field>
</div>

<div style="padding: 20px;">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason to use </th>
            <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
            <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
        </ng-container>

        <ng-container matColumnDef="start-time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start time </th>
            <td mat-cell *matCellDef="let element">
                {{getDateFormat(element.startTime)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="end-time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End time </th>
            <td mat-cell *matCellDef="let element">
                {{getDateFormat(element.endTime)}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="total-time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total time(mins) </th>
            <td mat-cell *matCellDef="let element"> {{element.totalTime == 0 ? "-- (In use)" : element.totalTime}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" matTooltip="Delete log" (click)="deleteLog(element)" [disabled]='element.totalTime == 0 ? true : false'>
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>