table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  background-color: #dbdbdf;
  color: rgb(0, 10, 151);
  font-size: medium;
  text-align: left;
  max-width: 300px;
}
mat-elevation-z8 {
  width: 90%;
  margin: 20px;
}
