<div class="main-div">
    <mat-card class="example-card">
        <mat-card-title class="card-title">Login</mat-card-title>
        
        <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput type="text" formControlName="email" required>
                        <button mat-icon-button matSuffix>
                            <mat-icon>email</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid">Submit</button>
            </mat-card-actions>
        </form>
        <p>or</p>
        <button mat-button style="padding: 1rem;" (click)="googleLogin()">
            <mat-icon style="width: 50px; height:30px" svgIcon="logo"></mat-icon> Login With Google
        </button>
        <!-- <button type="button" (click)="facebookLogin()">
            Log in with Facebook
        </button>
        <button type="button" (click)="twitterLogin()">
            Log in with Twitter
        </button>
        <button type="button" (click)="githubLogin()">
            Log in with Github
        </button> -->
        <mat-divider></mat-divider>
        <mat-card-footer style="margin: 30px;">
            New user?
            <button mat-button type="button" color="primary" [routerLink]="['/signup']">Register now</button>
        </mat-card-footer>
    </mat-card>
</div>
