<div class="main-div">
    <mat-card class="example-card">
        <mat-card-title class="card-title">
            Select your team
        </mat-card-title>
        <form class="example-form" (ngSubmit)="addTeam()">
            <mat-card-content>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose team</mat-label>
                        <mat-select [(ngModel)]="selectedValue" [formControl]="teamsControl" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let team of teams" [value]="team">
                                {{team.name}}
                            </mat-option>
                        </mat-select>
                        <button mat-icon-button matSuffix>
                            <mat-icon>group</mat-icon>
                        </button>
                        <mat-error *ngIf="teamsControl.hasError('required')">Please choose a team</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary" [disabled]="!teamsControl.valid">Submit</button>
            </mat-card-actions>
        </form>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <h4 style="color: rgb(9, 9, 194); margin-top: 30px;">Team not in list?</h4>
            <mat-expansion-panel style="margin: 10px;">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Add new team
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form (ngSubmit)="createTeam()">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="newTeamForm" required placeholder="Enter team name" />
                    </mat-form-field>

                    <button mat-icon-button type="submit" color="primary" [disabled]="!newTeamForm.valid">
                        <mat-icon>add</mat-icon>
                    </button>
                </form>
            </mat-expansion-panel>
        </mat-card-footer>
    </mat-card>
</div>